body{
	
	font-family: 'Segoe UI';
}

h1{
	font-family: 'Segoe UI';
	font-size: 150%;
	color:#FF00FF;
	text-align: center;
}

p{
	font-size: 110%;
}

input.error {
	
	outline: #FF0000 solid 2px;
}

p.blue{

	color: #0000FF;
}

p.red{

	color: #FF0000;
}

p.green{
	
	color: #00FF00;
}

form{
	margin: 1% auto;
}

input{
	border-radius: 1em;
	-moz-border-radius:1em;
	-webkit-border-radius:1em;
	-ms-border-radius:1em;
	background-color:#785354;
	color:#FFFFFF;

}

a{
	color:#0066FF;
	text-decoration: none;
	font-size: 125%;
	font-family: 'Segoe UI';
	margin-right: 2.5%;
	margin-bottom: 5%;
}

a:hover{
	font-size: 16px;
	color:#0066FF;

}

a:visited{
	color:#0066FF;
}