body{
	
	font-family: 'Segoe UI';
}

h1{
	font-family: 'Segoe UI';
	font-size: 250%;
	color:#080808;
	text-align: center;
}

h2{
	font-family: 'Segoe UI';
	font-size: 200%;
	color:#080808;
	text-align: center;
}

h3{
	font-family: 'Segoe UI';
	font-size: 150%;
	color:#080808;
	text-align: center;
	text-decoration: underline;
}

.monthly,.monthlyRow,.monthlyColumn, .DayRow{
	border:solid 2px;
}

.monthly{
	margin-left: auto;
	margin-right: auto;
	width=90%;
	height=75%;
}

.monthlyColumn{
	width:14.3%;
	vertical-align: top;
}

.DayRow{
	height:1%;
}

.monthlyRow{
	height: 10%;
}

p{
	font-size: 110%;
}

input.error {
	
	outline: #FF0000 solid 2px;
}

p.blue{

	color: #0000FF;
} 

p.red{

	color: #FF0000;
}

p.green{
	
	color: #00FF00;
}

form{
	margin: 1% auto;
}

input{
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-ms-border-radius:1em;
	background-color:#000000;
	color:#FFFFFF;

}

#title{
	width: 300px;
	height:25px;
}

#description{
	height: 50px;
	width: 300px;
}



a{
	color:#0066FF;
	text-decoration: none;
	font-size: 125%;
	font-family: 'Segoe UI';
	margin-right: 2.5%;
	margin-bottom: 5%;
}

a:hover{
	font-size: 16px;
	color:#0066FF;

}

a:visited{
	color:#0066FF;
}
