<html>
<head>
	<title>Edit Event</title>

	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<script src="/js/jquery-1.11.0.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> 
	<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">	
  	<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

  	<script>
	$(function() {
    	$( "#date" ).datepicker({ dateFormat: "yy-mm-dd" });
  	});
	</script>


    <script>

        $(document).ready(function() {

            // Attach a submit handler to the form
            $("#update").submit(function( event ) {
             
                // Stop form from submitting normally
                event.preventDefault();
                 
                // Get some values from elements on the page:
                var form = $(this);
                //var event_id = form.find( "input[name='event_id']" ).val();
                var url = form.attr("action");
                 
                // Send the data using post
                var posting = $.post(
                url,
                {
                    title: form.find( "input[name='title']" ).val(),
                    description: form.find( "input[name='description']" ).val(),
                    date: form.find( "input[name='date']" ).val(),
                    colour: form.find( "select[name='colour']" ).val()

                });
                 
                //Put the results in a div
                posting.done(function( data ) {
                	var dataJson = jQuery.parseJSON(data);

                	if(dataJson["success"]) {
                		console.log("success!!!!");
                	}
                	else {
                		
                		//for each field check if value is true/false add error class to fields that fail
                	

                	}

                });
            });
        });

    </script>

</head>
<body>
	<div class="masterContainer">
		<h1>Edit Event</h1>
		<form id = "update" method="post">
			<table class="eventsPage">
				<tr>
					<td>
						{{form.title.label()}}
					</td>
					<td>
						<input class ="" id="{{form.title.name}}" type="text" name="{{form.title.name}}" placeholder="{{form.title.description}}" value="{{form.title.data}}"/> 
					</td>
				</tr>
				<tr>
					<td>
						{{form.description.label()}}
					</td>
					<td>
						<input class ="" id="{{form.description.name}}" type="text" name="{{form.description.name}}" placeholder="{{form.description.description}}" value="{{form.description.data}}"/> 
					</td>
				</tr>
				<tr>
					<td>
						{{form.date.label()}}
					</td>
					<td>
						<input class ="" id="{{form.date.name}}" type="text" name="{{form.date.name}}" placeholder="{{form.date.description}}" value="{{form.date.data}}"/> 
					</td>
				</tr>
				<tr>
					<td>
						<label for="colour">Colour</label>
					</td>
					<td>
						<select name="colour">
							{% for colour in colours %}
							{% if form.colour.data == colour %}
							<option selected value='{{colour}}'>{{colour.capitalize()}}</option>
							{% else %}
							<option value='{{colour}}'>{{colour.capitalize()}}</option>
							{% endif %}
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td>
					</td>
					<td>
						<input type="button" onclick="document.location.href='/agenda'" value="  Back  " />
						<input type="submit" value="Update"/>
					</td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>