<html>
<head>
	<title>New Event</title>

	<style>

		input.error {
			outline: #FF0000 solid 2px;
		}

	</style>

</head>
<body>
	<h1>New Event</h1>
	<form method="post">
		<table>
			<tr>
				<td>
					{{form.title.label()}}
				</td>
				<td>
					{% if form.title.errors %}
					<input class="error" id="{{form.title.name}}" type="text" name="{{form.title.name}}" placeholder="{{form.title.description}}" value="{{form.title.data}}"/> 
					{% else %}
					<input id="{{form.title.name}}" type="text" name="{{form.title.name}}" placeholder="{{form.title.description}}" value="{{form.title.data}}"/> 
					{% endif %}
				</td>
			</tr>
			<tr>
				<td>
					{{form.description.label()}}
				</td>
				<td>
					{% if form.description.errors %}
					<input id="{{form.description.name}}" type="text" name="{{form.description.name}}" placeholder="{{form.description.description}}" value="{{form.description.data}}"/> 
					{% else %}
					<input id="{{form.description.name}}" type="text" name="{{form.description.name}}" placeholder="{{form.description.description}}" value="{{form.description.data}}"/> 
					{% endif %}
				</td>
			</tr>
			<tr>
				<td>
					{{form.date.label()}}
				</td>
				<td>
					{% if form.date.errors %}
					<input class="error" id="{{form.date.name}}" type="text" name="{{form.date.name}}" placeholder="{{form.date.description}}" value="{{form.date.data}}"/> 
					{% else %}
					<input id="{{form.date.name}}" type="text" name="{{form.date.name}}" placeholder="{{form.date.description}}" value="{{form.date.data}}"/> 
					{% endif %}
				</td>
			</tr>
			<tr>
				<td>
					<label for="colour">Colour</label>
				</td>
				<td>
					<select name="colour">
						{% for colour in colours %}
						{% if form.colour.data == colour %}
						<option selected value='{{colour}}'>{{colour.capitalize()}}</option>
						{% else %}
						<option value='{{colour}}'>{{colour.capitalize()}}</option>
						{% endif %}
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>
				</td>
				<td>
					<input type="submit" value="Create"/>
				</td>
			</tr>
		</table>
	</form>
</body>
</html>