<html>
<head>
	<title>New Event</title>

	<style>

		input.error {
			outline: #FF0000 solid 2px;
		}

	</style>

</head>
<body>
	<h1>New Event</h1>
	<form method="post">
		<table>
			<tr>
				<td>
					{{form.title.label()}}
				</td>
				<td>
					{% if form.title.errors %}
					<input class="error" id="{{form.title.name}}" type="text" name="{{form.title.name}}" placeholder="{{form.title.description}}" value="{{form.title.data}}"/> 
					{% else %}
					<input id="{{form.title.name}}" type="text" name="{{form.title.name}}" placeholder="{{form.title.description}}" value="{{form.title.data}}"/> 
					{% endif %}
				</td>
			</tr>
			<tr>
				<td>
					<label for="description">Description</label>
				</td>
				<td>
					<input id="description" type="text" name="description"/>
				</td>
			</tr>
			<tr>
				<td>
					<label for="date">Date</label>
				</td>
				<td>
					<input id="date" type="text" name="date" placeholder = "dd-mm-yyyy"/>
				</td>
			</tr>
			<tr>
				<td>
					<label for="colour">Colour</label>
				</td>
				<td>
					<select name="colour">
						{% for colour in colours %}
						<option value='{{colour}}'>{{colour.capitalize()}}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>
				</td>
				<td>
					<input type="submit" value="Create"/>
				</td>
			</tr>
		</table>
	</form>
</body>
</html>